.navbar-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38a2c4ff;

  font-size: 25px;
}
.main-navigation__menu-btn {
  display: none;
}
.main-navigation__menu-btn span {
  display: none;
}
.navbar-list li {
  float: right;
}

.navbar-list li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 25px;

  padding: 16px;
  text-decoration: none;
}

.navbar-list li a:hover {
  background-color: #21404bff;
}

.navbar-logo {
  background-color: rgb(56, 162, 196, 0.7);
  height: 65px;
  width: 20%;
  float: left;
}
.navbar-title {
  color: white;
  margin-left: 25px;
}
.navbar-list {
  width: 80%;
  float: right;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 769px) {
  .navbar-logo {
    background-color: rgb(56, 162, 196, 0.7);
    height: 65px;
    width: 100%;
    float: left;
    display: none;
  }
  .navbar-title {
    color: white;
    margin-left: 25px;
  }
  .navbar-list {
    width: 100%;
    float: right;
    display: none;
  }
  .navbar-list li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 2px;

    padding: 12px;
    text-decoration: none;
  }
  .main-navigation__menu-btn {
    width: 3rem;
    height: 4rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    cursor: pointer;
  }

  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 5.5px;
    background: white;
  }
  .nav-links li {
    margin: 10px;
    padding-top: 1px;
    color: rgb(56, 162, 196, 0.7);
    border: 3px solid black;
    background-color: rgba(34, 129, 161, 0.7);
  }

  /* .navbar-list li a {
    display: none;
  } */
  .nav-links {
    flex-direction: row;
    background-color: rgb(56, 162, 196, 0.7);
    padding-left: 10px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    /* border: 1px solid black; */
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 0;
    width: 100%;
  }
  /* 
  .nav-links button {
    border: 1px solid white;
    color: green;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  } */
}

@media only screen and (max-width: 480px) {
  /* li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 12px;

    padding: 8px;
    text-decoration: none;
  } */
}
