.contact-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3% 3%;

  transition: all 0.8s ease-in-out;
  background-color: rgba(34, 34, 34, 0.55);
  border-radius: 3px;
}

.contact-form {
  color: blueviolet;
}

/* input {
  width: 100%;
  height: 50px;
  font-size: 25px;
  margin: 5px;
} */

textarea {
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin: 5px;
}

.contact-text {
  font-size: 35px;
  margin-top: 20px;
  text-align: left;
  padding: 5px;
}

.contact-inner-col {
  width: 50%;

  float: left;
}

.contact-phonenumber-block {
  top: 50%;
  width: 50%;
  height: 100vh;
  float: right;
  text-align: right;
}

.contact-text-phonenumber {
  font-size: 45px;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 50px;
}

.contact-text-hours {
  font-size: 25px;
  margin-top: 20px;
  text-align: left;
  margin: 5px;
}
@media only screen and (max-width: 850px) {
  .contact-inner-col {
    width: 90%;
    display: inline-block;
    float: none;
  }
  .contact-phonenumber-block {
    top: 50%;
    max-width: 500px;
    max-height: 500px;
    float: none;
    padding: 50px;
  }

  .contact-text-phonenumber {
    font-size: 25px;
    margin-top: 20px;
    text-align: left;
    margin-bottom: 50px;
  }
}
